apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  labels:
    app: consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
      - name: consumer
        image: cpp-consumer:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8082
        envFrom:  # <-- NEW
        - configMapRef:
            name: consumer-config
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: consumer
spec:
  selector:
    app: consumer
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
  type: NodePort  # External access for testing
  # K8s will auto-assign a port in range 30000-32767