---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: processor
  labels:
    app: processor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: processor
  template:
    metadata:
      labels:
        app: processor
    spec:
      containers:
      - name: processor
        image: cpp-processor:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8081
        envFrom:  # <-- NEW
        - configMapRef:
            name: processor-config
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: processor
spec:
  selector:
    app: processor
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP